body{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: #7e6da5;
}
h1{
    color:   #083d56; 

 size: 200%;
font-size: 50px;
    text-align:center;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 14px 16px;
    display: block;
}
.nav-item a:hover {
    background-color: #575757;
    border-radius: 4px;
}

form {
    background-color: #62edff;
    padding: 20px;
    border-radius: 5px;
    max-width: 250px;
    margin: 50px auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

button { 
background-color: rgb(133, 133, 221); 
color: white; 
border: none; 
cursor: pointer; 
}

button:hover { 
background-color: rgb(241, 111, 209);
    }
input, textarea {
    width: 90%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-sizing: border-box;
}
textarea {
    height: 100px;
    resize: vertical;
}
.subtitle{
    font-size: 20px;
    color: #2a5c74;
}
.form-wrapper{
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(97, 82, 82, 0.1);
    max-width: 400px;
    margin: auto;
    
}
.container{
    margin-top: 100px;
}
.form-group{
    margin-bottom: 5px;
}
button{
    padding: 10px 15px;
    font-size: 16px;
}
