body{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: #0e5f76;
}
h1{
    color:   #083d56; 

 size: 200%;
font-size: 50px;
    text-align:center;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    position: absolute;
    left: 0;
    top: 0;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 14px 16px;
    display: block;
}
.nav-item a:hover {
    background-color: #575757;
    border-radius: 4px;
}


